html .mt-point{
    position: absolute;
    top:0;
    left:0;
    background: red;
    color:#fff !important;
    padding:1px 2px;
    line-height: 100%;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    margin:0;
    text-indent:0;
    border-radius: 1px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .4);
    opacity: 0.8;
    z-index:800;
    letter-spacing:0;
}

html .mt-tip{
    position: absolute;
    color:red !important;
    padding:2px;
    line-height: 100%;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    margin:0;
    line-height: 130%;
    text-indent:0;
    background-color:#fff;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .6);
    border:2px solid red;
    z-index:800;
    letter-spacing:0;
}


.mt-side {
    width:154px;
    background-color: #2F373D;
    position: fixed;
    right:-154px;
    top:0;
    height: 100%;
    z-index: 20000;
    -webkit-transition: right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.mt-side .mt-side-btn{
    border-right: 16px solid #2F373D;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    height: 100px;
    width: 4px;
    position: absolute;
    top:50%;
    margin-top:-50px;
    left:-16px;
    z-index: 20001;
    cursor: pointer;
}

.mt-side .mt-side-btn i{
    display: block;
    position: absolute;
    left :10px;
    top:30px;
    width:4px;
    height: 42px;
    /*需要把资源加到web_accessible_resources中*/
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/btn-bg.png);
    z-index: 20002;
}

.mt-open{
    right:0;
}