body{
    text-align: center;
    padding:30px 0;
    font-family: "微软雅黑"
}

.settings-list {
    padding:30px;
    background-color:#EFF0F2;
    border-radius: 8px;
    list-style:none;
    margin:0 auto;
    width:300px;
}


.settings-list .item{
    padding:15px 0 0 0;
}
.settings-list .item:first-child{
    padding-top:0;
}

.settings-list .title {
    text-align: left;
    float:left;
    width:145px;
    line-height: 30px;
}